body {
  font-size: 68px;
  font-size: 422px;
  font-size: 66px;
  font-size: 29px;
  width: 298px;

  /* 10px */
  height: 0.625rem;

  /* 19px */
  height: 1.1875rem;
  /* 28px */
  height: 1.75rem;

  /* 60px */
  height: 3.75rem;

  /* 80px */
  height: 5rem;
  /* 584px */
  height: 36.5rem;
}
